venv/
airflow/.google
airflow/.kaggle
terraform/.terraform
terraform/fashionimages-441305-8e0ac87a473e.json
airflow/data/input
airflow/data/output/greyscale
airflow/data/output/metadata
airflow/data/output/parquet
airflow/opt
airflow/pipelines/lab.py
airflow/pipelines/sparktest.py
